
### folders
.idea
node_modules
coverage
.nyc_output
test
.github
.tscmultiwatch
media
.vscode
scripts
docs

### matching files
*.md
*.txt
*.log
tsconfig*.json
*.yml

### files
.gitignore
.npmignore
.npmrc
.gitattributes
suman.conf.js
.editorconfig
.babelrc
.dockerignore
yarn.lock

