### folders
.idea
node_modules
coverage
.nyc_output
test
.github
.tscmultiwatch
media

### matching files
*.sh
*.ts
*.md
*.txt
*.log
*.json
*.yml
*.DS_Store

### files
exp.js
.gitignore
.npmignore
.gitattributes
suman.conf.js
.editorconfig
.babelrc
.dockerignore
yarn.lock

### negation
!*.d.ts
