
### folders
.idea
node_modules
coverage
.nyc_output
test
.github
.tscmultiwatch
media
.vscode
scripts
docs
lib

### matching files
*.md
*.txt
*.log
tsconfig*.json
*.yml
Dockerfile*


### files
.nlu.json
.gitignore
.npmignore
.npmrc
.gitattributes
suman.conf.js
.editorconfig
.babelrc
.dockerignore
yarn.lock

